<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM-Suite" verbose="1" thread-count="1">

    <listeners>
        <listener class-name="com.orangehrm.listeners.TestListener"/>
    </listeners>

    <test name="Authentication Tests">
        <groups>
            <run>
                <include name="auth"/>
            </run>
        </groups>
        <classes>
            <class name="com.orangehrm.tests.AuthenticationTest"/>
        </classes>
    </test>

    <test name="Employee Lifecycle Tests">
        <groups>
            <run>
                <include name="employee"/>
            </run>
        </groups>
        <classes>
            <class name="com.orangehrm.tests.EmployeeCreationTest"/>
            <class name="com.orangehrm.tests.EmployeeUpdateTest"/>
            <class name="com.orangehrm.tests.EmployeeDeleteTest"/>
        </classes>
    </test>

    <test name="Role-Based Validation Tests">
        <groups>
            <run>
                <include name="rbac"/>
            </run>
        </groups>
        <classes>
            <class name="com.orangehrm.tests.RoleBasedValidationTest"/>
        </classes>
    </test>

    <test name="API Verification Tests">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <classes>
            <class name="com.orangehrm.tests.ApiVerificationTest"/>
        </classes>
    </test>

</suite>
